header
    .container.header.text-center.d-md-flex.flex-md-row.justify-content-center
        .row.header-logo.w-100.flex-lg-row.align-items-center.justify-content-between.gap-4.flex-row
            .col-12.col-md-12.col-lg-2.header-img.text-center.text-md-start.d-flex.gap-2
                img(src="img/logo-trips.png" alt="")
                h2 trips
            .col-12.col-md-12.col-lg-8.header-subtitle.d-flex.justify-content-between.flex-md-row
                a.header-title(href="#") Головна
                a.header-title(href="#") Послуги
                a.header-title(href="#") Про компанію
                a.header-title(href="#") Акції
                a.header-title(href="#") Партнери
                a.header-title(href="#") Відгуки
                a.header-title(href="#") Контакти


    .container.d-md-flex.justify-content-center.flex-column.container-con
        .row.header-title-info.text-center.flex-column
            .col.text-center 
                h2.logo-h2 Морські пригоди
            .col 
                p.logo-p Не важливо, чи Ваша мандрівка належить до елітного рівня чи до  економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
                a.button(href="#") Детальніше
        .row 
            .col.text-center
                h2.header-footer обери свій <br> план подорожі
                p.header-footer-p Наша фірма -лідер на ринку у своїй сфері
                a(href="#")  
                    svg(version="1.0" xmlns="http://www.w3.org/2000/svg" width="10.000000pt" height="10.000000pt" viewBox="0 0 18.000000 20.000000" preserveAspectRatio="xMidYMid meet")
                        g(transform="translate(0.000000,20.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none")
                            path(d="M6 192 c-3 -5 15 -28 39 -52 l45 -44 45 44 c30 29 42 47 35 54 -7 7 -22 -1 -45 -24 l-35 -34 -33 32 c-35 34 -43 37 -51 24z")
                            path(d="M6 102 c-3 -5 15 -28 39 -52 l45 -44 45 44 c30 29 42 47 35 54 -7 7 -22 -1 -45 -24 l-35 -34 -33 32 c-35 34 -43 37 -51 24z")